<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
  font-family: 'Questrial', sans-serif !important;
}

.imgfriend {
  margin-left: 5%;
  margin-right: 5%;
  object-fit: contain;
}

.nomeap {
  font-size: 16px;
  color: #76BB4C;
  line-height: 1;
}

.datapost {
  font-size: 14px;
  color: #919191;
  margin-top: 0%;
  line-height: 1;
}

.txtpost {
  color: #000000;
  line-height: 1;
}
=======
.box-information {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 20px;
    width: 50%;
  }
  
  .avatar-information {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
  }
  
  .user-information {
    padding-left: 20px;
  }
  
  .user-information h3 {
    color: chartreuse;
  }
  
  .user-information h3 span {
    display: inline-block;
  }
  
  
  /* Media Query */
  @media (max-width: 820px) {
    .box-information {
      width: 100%;
    }
  }
>>>>>>> efb3aafab16a306e8a0bd6e4eb1da7c395c0586d
