@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.navbar {
    font-family: 'Questrial', sans-serif !important;

}

.navbar-text {
    color: #76BB4C;
    font-size: 24px;
}

.sair {
    color: #6033AA;
    font-size: 16px;

}

a {
    text-decoration: none !important;

}